<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orange.repository.ItemMapper">

	<select id="selectCount" resultType="Integer">
		select count(*) from item
	</select>
	
	<select id="selectByItemName" resultType="com.orange.model.Item">
		<![CDATA[
			select * from item where item_name = #{itemName}
		]]>
	</select>
	<insert id="insertItem" parameterType="com.orange.model.Item">
		<![CDATA[
			insert into item (category, name, price, quantity, sales, description, image, image_path, regdate) 
			values (#{category}, #{name}, #{price}, #{quantity}, #{sales}, #{description}, #{image}, #{imagePath}, now())
		]]>
	</insert>
	
	<select id="findItemById" parameterType="Long" resultType="com.orange.model.Item">
	<![CDATA[
        SELECT * FROM item WHERE item_id = #{itemId}
        ]]>
    </select>
	

</mapper>



