<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orange.repository.MemberMapper">

	<select id="selectCount" resultType="Integer">
		<![CDATA[
			select count(*) from item
		]]>
	</select>
	
	<select id="loginCheck" resultType="int">
		<![CDATA[
			select count(*) from member where user_id=#{userId} and password=#{password}
		]]>
	</select>
	
	<insert id="insertMember" parameterType="com.orange.model.Member">
		<![CDATA[
			insert into member (user_id, password, name, email, adress, point) 
			values (#{userId}, #{password}, #{name}, #{email}, #{adress}, #{point})
		]]>
	</insert>
	

</mapper>



